<header class="flex flex-col">
    <!-- Upper section -->
    <div class="flex items-center justify-around bg-[#129cb8] px-4 text-white pt-[9px] text-sm font-[400] pb-2.5">
        <div class="flex items-center  justify-center lg:justify-between max-w-screen-xl w-full">
            <div class="hidden lg:flex xl:translate-x-4">
                <a href="#">Tell a friends about Electshop Electronics & get 30% off your next order.</a>
            </div>
            <div class="flex space-x-6 items-center justify-around">
                <a href="#" class="hidden sm:flex">Need Help?</a>
                <button class="bg-[#89cedc] hidden sm:flex w-[1px] h-4"></button>
                <a href="#" class="hidden sm:flex">Track Order</a>
                <button class="bg-[#89cedc] hidden sm:flex w-[1px] h-4"></button>
                <a href="#" class="flex items-center">USD $
                    <svg xmlns="http://www.w3.org/2000/svg" height="18" class="fill-white pl-1" viewBox="0 -960 960 960"
                        width="18">
                        <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z" />
                    </svg>
                </a>
                <button class="bg-[#89cedc] w-[1px] h-4"></button>
                <a href="#" class="flex items-center">English
                    <svg xmlns="http://www.w3.org/2000/svg" height="18" class="fill-white pl-1" viewBox="0 -960 960 960"
                        width="18">
                        <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z" />
                    </svg>
                </a>
            </div>
        </div>

    </div>
    <!-- Mid section -->
    <div>
        <div class="py-5 lg:py-[33px] px-[15px] mx-auto max-w-screen-md lg:max-w-screen-xl relative">
            <div class="flex w-full items-center justify-between h-full">
                <div class="flex gap-x-3 sm:gap-x-4 lg:gap-0 w-3/4 xs:w-1/2 lg:w-1/4 items-center">

                    <div class="lg:hidden flex hamburger duration-500">
                        <a href="#">
                            <svg version="1.1" class="w-5 h-5 icon duration-500 icon-hamburger"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000">

                                <g>
                                    <path
                                        d="M928.8,261.7H71.3c-33.8,0-61.3-27.4-61.3-61.3c0-33.9,27.4-61.3,61.3-61.3h857.5c33.9,0,61.3,27.4,61.3,61.3C990,234.3,962.6,261.7,928.8,261.7z">
                                    </path>
                                    <path
                                        d="M928.8,561.2H71.3C37.4,561.2,10,533.9,10,500c0-33.9,27.4-61.3,61.3-61.3h857.5c33.9,0,61.3,27.4,61.3,61.3C990,533.9,962.6,561.2,928.8,561.2z">
                                    </path>
                                    <path
                                        d="M928.8,860.8H71.3c-33.8,0-61.3-27.4-61.3-61.3c0-33.9,27.4-61.3,61.3-61.3h857.5c33.9,0,61.3,27.4,61.3,61.3C990,833.4,962.6,860.8,928.8,860.8z">
                                    </path>
                                </g>
                            </svg>
                        </a>
                    </div>
                    <a href="#">
                        <img srcset="//electshop-codezeel.myshopify.com/cdn/shop/files/Logo_220x.png?v=1656140974 1x, //electshop-codezeel.myshopify.com/cdn/shop/files/Logo_220x@2x.png?v=1656140974 2x"
                            src="//electshop-codezeel.myshopify.com/cdn/shop/files/Logo_220x.png?v=1656140974"
                            loading="lazy" class="w-auto h-[27px] sm:h-[40px] sm:w-[211px] header__heading-logo"
                            width="211" height="40" alt="Electshop - Electronics Store (Password: demo)" priority>
                    </a>
                </div>
                <div class="hidden w-2/4 ml-20 h-[40px] lg:h-[44px] lg:flex items-center">
                    <input type="search" placeholder="Search Product Here..."
                        class="w-8/12 outline-none lg:w-10/12 xl:w-full placeholder:text-sm pl-5 pr-[15px] py-[5px] border-solid border rounded-l-md border-[#129cb8] h-full">
                    <button class="xl:mr- bg-[#129cb8] flex rounded-r-md justify-center items-center h-full w-[50px]">
                        <span class="w-[60px] h-[30px]">
                            <svg id="Layer_1" class="fill-white w-5 mt-1 mx-5 h-5 icon icon-header-search"
                                data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 980.04 981.7">
                                <g id="_3_3" data-name="3_3">
                                    <path
                                        d="M979.3,928.4,718.5,667.2a399.9,399.9,0,0,0,92.8-256.7C811.3,188.9,631.9,9.2,410.7,9.2S10,188.9,10,410.5,189.4,811.8,410.7,811.8A398.56,398.56,0,0,0,667,718.9L927.8,980.2a36.52,36.52,0,1,0,51.5-51.8ZM410.7,738.7C230,738.7,83,591.4,83,410.5S230,82.3,410.7,82.3,738.4,229.5,738.4,410.5,591.3,738.7,410.7,738.7Z"
                                        transform="translate(-10 -9.2)"></path>
                                </g>
                            </svg>
                        </span>
                    </button>
                </div>
                <div class="w-1/4 xs:w-1/2 lg:w-1/4 h-[34px] sm:h-[40px] lg:h-[44px]">
                    <div class="flex h-full items-center justify-end">
                        <div class="lg:hidden flex items-center">
                            <a href="#" class="flex items-center icons-div w-full h-full">
                                <svg id="Layer_1"
                                    class="hover:fill-[#129cb8] duration-500 hover:duration-500 w-5 mx-[15px]  h-5 icon icon-header-search"
                                    data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 980.04 981.7">
                                    <g id="_3_3" data-name="3_3">
                                        <path
                                            d="M979.3,928.4,718.5,667.2a399.9,399.9,0,0,0,92.8-256.7C811.3,188.9,631.9,9.2,410.7,9.2S10,188.9,10,410.5,189.4,811.8,410.7,811.8A398.56,398.56,0,0,0,667,718.9L927.8,980.2a36.52,36.52,0,1,0,51.5-51.8ZM410.7,738.7C230,738.7,83,591.4,83,410.5S230,82.3,410.7,82.3,738.4,229.5,738.4,410.5,591.3,738.7,410.7,738.7Z"
                                            transform="translate(-10 -9.2)"></path>
                                    </g>
                                </svg>
                            </a>
                        </div>

                        <div class="lg:mr-4 mt-[3px] hidden xs:flex items-center mr-2.5 lg:my-0">
                            <a href="#" class="icons-div w-full h-full ">
                                <svg class="hover:fill-[#129cb8] svg-icon duration-500 hover:duration-500 lg:mr-[5px] icon icon-account"
                                    version="1.0" xmlns="http://www.w3.org/2000/svg" width="28px" height="26px"
                                    viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
                                    <metadata>
                                        Created by potrace 1.16, written by Peter Selinger 2001-2019
                                    </metadata>
                                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                                        stroke="none">
                                        <path d="M2350 5113 c-175 -28 -327 -80 -444 -150 -181 -108 -346 -272 -454
                                -450 -56 -92 -106 -220 -134 -338 -29 -125 -36 -375 -14 -501 64 -368 285
                                -680 618 -871 328 -188 765 -204 1124 -42 120 54 233 137 350 253 262 262 377
                                560 361 928 -15 327 -126 584 -354 815 -182 185 -409 304 -660 348 -79 14
                                -327 19 -393 8z m428 -332 c150 -44 286 -127 405 -248 119 -121 185 -232 234
                                -390 25 -81 27 -101 27 -258 -1 -155 -3 -178 -27 -258 -46 -151 -113 -263
                                -231 -385 -176 -183 -410 -282 -660 -282 -248 1 -452 82 -629 250 -138 131
                                -222 264 -269 427 -20 68 -23 100 -22 253 0 162 2 182 28 265 68 221 225 416
                                436 541 78 46 154 75 261 99 97 22 351 14 447 -14z"></path>
                                        <path d="M1410 2644 c-231 -34 -406 -120 -553 -271 -280 -288 -437 -799 -437
                                -1424 0 -264 19 -358 103 -524 31 -61 63 -102 132 -171 98 -99 183 -155 302
                                -197 165 -60 110 -58 1639 -55 l1399 3 85 26 c108 34 165 59 237 105 167 106
                                290 274 343 464 32 119 41 261 30 480 -50 980 -422 1532 -1055 1567 -136 7
                                -138 7 -371 -143 -180 -115 -305 -172 -471 -215 -125 -33 -349 -33 -473 -1
                                -177 46 -296 101 -476 218 -66 43 -147 93 -182 111 -58 30 -71 33 -145 32 -45
                                -1 -93 -3 -107 -5z m265 -401 c179 -115 312 -180 467 -227 302 -91 588 -85
                                889 20 137 47 235 98 412 212 l148 94 61 -6 c369 -42 593 -344 693 -931 30
                                -174 48 -499 35 -616 -27 -242 -178 -410 -418 -466 -72 -17 -159 -18 -1412
                                -18 -1484 0 -1390 -4 -1539 67 -82 39 -185 140 -223 218 -48 100 -58 162 -58
                                356 1 527 124 961 342 1199 84 92 189 151 323 180 113 25 116 24 280 -82z"></path>
                                    </g>
                                </svg>
                            </a>
                        </div>
                        <div class="hidden lg:flex items-center">
                            <a href="#"
                                class="icons-div mr-[25px] flex items-center relative cm-compare-icon js-popup-button"
                                data-js-information-input="compare" data-js-popup-button="compare-full">

                                <svg class="svg-icon icon icon-compare hover:fill-[#129cb8] hover:duration-500 duration-500"
                                    version="1.0" xmlns="http://www.w3.org/2000/svg" width="28px" height="26px"
                                    viewBox="0 0 4096.000000 4096.000000" preserveAspectRatio="xMidYMid meet">
                                    <metadata>
                                        Created by potrace 1.16, written by Peter Selinger 2001-2019
                                    </metadata>
                                    <g transform="translate(0.000000,4096.000000) scale(0.100000,-0.100000)"
                                        stroke="none">
                                        <path d="M20336 36859 c-82 -12 -166 -34 -241 -64 -86 -35 -19562 -10285
                                -19646 -10340 -195 -128 -352 -345 -421 -580 -21 -72 -23 -100 -23 -275 0
                                -175 2 -203 23 -275 69 -235 226 -452 421 -580 56 -37 19281 -10161 19551
                                -10296 281 -140 578 -157 854 -48 94 37 19562 10281 19657 10344 195 128 352
                                345 421 580 21 72 23 100 23 275 0 175 -2 203 -23 275 -69 235 -226 452 -421
                                580 -84 56 -19556 10304 -19644 10339 -166 66 -359 90 -531 65z m8767 -6723
                                c4734 -2491 8607 -4532 8607 -4536 0 -4 -2208 -1169 -4907 -2590 -2700 -1421
                                -6566 -3457 -8593 -4524 -2027 -1067 -3697 -1944 -3711 -1949 -23 -9 -386 179
                                -3565 1853 -1946 1025 -5193 2734 -7214 3798 -2021 1064 -4304 2265 -5072
                                2670 -769 405 -1398 739 -1398 742 0 10 17223 9071 17236 9068 6 -2 3883
                                -2041 8617 -4532z"></path>
                                                        <path d="M860 20483 c-402 -63 -727 -342 -840 -722 -18 -60 -20 -97 -20 -299
                                0 -262 6 -294 86 -457 81 -167 227 -326 380 -417 99 -58 19433 -10234 19569
                                -10299 163 -78 238 -94 445 -94 209 0 282 16 455 99 239 115 19505 10261
                                19581 10312 91 60 219 189 277 277 55 83 112 209 139 307 20 76 23 106 22 275
                                0 178 -2 196 -28 279 -60 198 -187 389 -339 511 -94 76 -264 164 -376 194
                                -229 63 -496 41 -704 -57 -45 -21 -932 -487 -1972 -1034 -1039 -548 -4016
                                -2115 -6615 -3483 -2599 -1368 -6011 -3164 -7582 -3992 l-2858 -1504 -1622
                                854 c-893 470 -3407 1794 -5588 2942 -6098 3210 -7814 4114 -9910 5217 -2004
                                1055 -2015 1061 -2181 1088 -61 9 -265 12 -319 3z"></path>
                                                        <path d="M880 14344 c-70 -9 -206 -47 -279 -78 -271 -114 -487 -353 -575 -634
                                -25 -79 -26 -94 -26 -312 0 -219 1 -233 26 -312 70 -222 215 -415 405 -540
                                105 -69 19565 -10311 19674 -10355 230 -92 520 -92 750 0 101 41 19542 10271
                                19650 10341 150 97 298 269 370 431 59 133 77 219 83 384 5 170 -4 247 -46
                                371 -95 287 -312 517 -595 629 -131 52 -261 74 -417 68 -193 -6 -270 -29 -505
                                -147 -104 -53 -1425 -747 -2935 -1542 -8754 -4610 -15972 -8408 -15980 -8408
                                -5 0 -3151 1654 -6992 3676 -3841 2022 -8088 4258 -9440 4970 -1351 711 -2498
                                1314 -2550 1340 -108 54 -175 79 -273 100 -70 16 -279 26 -345 18z"></path>
                                    </g>
                                </svg>

                                <div class="absolute -top-[6px]  ml-5 -right-2.5 px-1.5 text-white bg-[#129cb8] rounded-full py-0.5 text-xs"
                                    data-js-compare-count="0">0</div>
                            </a>
                        </div>
                        <div class="hidden lg:flex items-center">

                            <a href="#"
                                class="icons-div mr-[25px] flex items-center relative  cm-wishlist-icon js-popup-button"
                                data-js-information-input="wishlist" data-js-popup-button="wishlist-full">

                                <svg class="svg-icon icon icon-cmheart hover:fill-[#129cb8] hover:duration-500 duration-500"
                                    version="1.0" xmlns="http://www.w3.org/2000/svg" width="25px" height="25px"
                                    viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
                                    <metadata>
                                        Created by potrace 1.16, written by Peter Selinger 2001-2019
                                    </metadata>
                                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                                        stroke="none">
                                        <path d="M1250 4931 c-608 -89 -1086 -554 -1222 -1187 -20 -95 -23 -136 -23
                                -324 1 -185 4 -229 23 -315 61 -274 180 -515 355 -715 156 -180 2050 -2167
                                2084 -2187 46 -28 127 -30 177 -7 32 16 2004 2085 2123 2229 155 186 267 421
                                325 680 19 86 22 130 23 315 0 188 -3 229 -23 324 -85 396 -315 746 -630 959
                                -134 90 -337 176 -502 212 -103 22 -360 31 -469 15 -210 -30 -406 -102 -579
                                -214 -95 -62 -133 -93 -251 -209 l-103 -102 -52 56 c-215 236 -461 380 -765
                                450 -96 23 -392 34 -491 20z m310 -371 c107 -14 216 -44 304 -84 145 -66 211
                                -118 406 -316 102 -104 198 -194 213 -200 36 -13 118 -13 154 0 15 6 111 95
                                213 199 200 203 271 258 420 322 323 139 689 105 981 -91 91 -61 239 -213 304
                                -314 134 -206 196 -412 196 -655 -1 -259 -79 -496 -231 -700 -48 -63 -1942
                                -2073 -1959 -2078 -12 -3 -1904 2005 -1959 2079 -298 399 -307 945 -24 1373
                                59 88 207 239 291 295 204 137 460 200 691 170z"></path>
                                    </g>
                                </svg>

                                <div class="absolute -top-[6px] ml-5 -right-2.5 px-1.5 text-white bg-[#129cb8] rounded-full py-0.5 text-xs"
                                    data-js-compare-count="0">0</div>
                            </a>
                        </div>
                        <div class="flex items-center">
                            <a href="#"
                                class="flex relative header__icon header__icon--cart link link--text focus-inset"
                                id="cart-icon-bubble">

                                <svg class="icon svg-icon hover:fill-[#129cb8] duration-500 hover:duration-500 icon-cart-empty"
                                    version="1.0" xmlns="http://www.w3.org/2000/svg" width="28px" height="26px"
                                    viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
                                    <metadata>
                                        Created by potrace 1.16, written by Peter Selinger 2001-2019
                                    </metadata>
                                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                                        stroke="none">
                                        <path d="M66 4791 c-46 -31 -66 -69 -66 -131 0 -62 20 -100 66 -131 27 -18 54
                                -19 444 -19 l415 0 268 -1208 c147 -664 267 -1211 267 -1217 0 -5 -23 -23 -51
                                -40 -67 -39 -132 -114 -171 -195 -27 -56 -32 -79 -36 -166 -3 -79 -1 -113 13
                                -155 46 -143 152 -251 292 -300 45 -15 85 -19 202 -20 l146 0 -52 -19 c-188
                                -67 -303 -231 -303 -430 0 -259 191 -450 450 -450 259 0 450 191 450 450 0
                                199 -115 363 -303 430 -51 18 -40 19 913 19 953 0 964 -1 913 -19 -188 -67
                                -303 -231 -303 -430 0 -259 191 -450 450 -450 259 0 450 191 450 450 0 200
                                -115 363 -304 430 l-51 19 130 0 c110 1 134 4 159 20 46 31 66 69 66 131 0 59
                                -19 98 -61 128 -22 16 -130 17 -1434 22 l-1410 5 -35 22 c-95 59 -94 198 2
                                250 31 17 107 18 1439 21 l1407 2 41 38 41 37 305 1067 c206 720 305 1083 305
                                1115 0 32 -7 57 -22 80 -47 68 106 63 -1937 63 l-1851 0 -5 23 c-3 12 -27 121
                                -54 242 -27 121 -54 232 -59 246 -6 15 -28 40 -49 58 l-38 31 -505 0 c-478 0
                                -507 -1 -534 -19z m4694 -893 c-1 -7 -115 -411 -254 -898 l-253 -885 -1239 -2
                                -1239 -3 -198 893 c-109 490 -197 895 -197 900 0 4 761 7 1690 7 1346 0 1690
                                -3 1690 -12z m-2736 -3017 c43 -29 66 -70 66 -121 0 -80 -60 -140 -140 -140
                                -80 0 -140 60 -140 140 0 80 60 140 140 140 27 0 56 -8 74 -19z m2120 0 c43
                                -29 66 -70 66 -121 0 -80 -60 -140 -140 -140 -80 0 -140 60 -140 140 0 80 60
                                140 140 140 27 0 56 -8 74 -19z"></path>
                                    </g>
                                </svg>
                                <span class="hidden sm:block font-semibold cart_price pl-[15px]">$0.00</span>
                                <!--         <span class="cart">My cart</span> -->
                                <div
                                    class="-top-[6px] ml-5 px-1.5 text-white bg-[#129cb8] rounded-full py-0.5 text-xs cart-count-bubble absolute">
                                    <span aria-hidden="true">0</span>

                                    <!--             <span class="visually-hidden">0 items</span> -->
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Lower section -->
    <div class="items-center justify-around w-full border-t border-t-[rgb(221, 221, 221)] border-solid">
        <div class="max-w-screen-xl hidden w-full lg:flex items-center  px-4 mx-auto text-sm text-black">
            <ul class="flex justify-start font-semibold text-[#222222] items-center">
                <li class="li-active-hover relative mr-[35px] py-4">
                    <a href="#" class="active-page">Home</a>
                </li>
                <li class="li-hover relative mr-[35px] py-4">
                    <a href="#">Electronics</a>
                </li>
                <li class="li-hover relative mr-[35px] py-4">
                    <a href="#">Today's Deal</a>
                </li>
                <li class="li-hover relative mr-[35px] py-4">
                    <a href="#">Summer Sale</a>
                </li>
                <li class="li-hover relative mr-[35px] py-4">
                    <a href="#">Smart Mobiles</a>
                </li>
                <li class="li-hover relative mr-[35px] py-4">
                    <a href="#">Mobile Accessories</a>
                </li>
                <li class="li-hover relative mr-[35px] py-4">
                    <a href="#">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</header>