<top-column-content [topColContent]="topColContent"></top-column-content>

<div class="w-full relative">

    <div class="mx-auto mt-[60px] py-9 px-[25px] sm:px-[45px] border rounded-md w-10/12 lg:w-[588px]">

        @if(!forgotPass){
            <h2 class="text-[20px] md:text-[22px] font-medium w-full text-center my-[18.26px]" style="line-height:28.6px">
                Log in to your account
            </h2>
    
            <form [formGroup]="myForm" class="relative" (ngSubmit)="onSubmit()">
                <div class="input-group mt-5">
                    <input id="formInput" type="email"
                        class="w-full placeholder:text-white outline-none font-normal text-sm placeholder:text-sm p-2.5 decoration-none m-[1px] border rounded-md h-full"
                        placeholder="s">
                    <label for="formInput" class="search-label">Email</label>
                </div>
                <div class="input-group mt-5">
                    <input id="formInput" type="password"
                        class="w-full placeholder:text-white outline-none font-normal text-sm placeholder:text-sm p-2.5 decoration-none m-[1px] border rounded-md h-full"
                        placeholder="s">
                    <label for="formInput" class="search-label">Password</label>
                </div>
                <a
                    (click)="forgotPass = !forgotPass"
                    class="cursor-pointer mt-2.5 text-[rgb(51, 51, 51)] text-center hover:no-underline hover:text-[#129cb8] text-sm underline underline-offset-[3px] inline-block">
                    Forgot your password?
                </a>
                <button
                    class="btn-bef z-[1] overflow-hidden relative flex items-center justify-center w-full text-sm font-medium text-white px-[27px] mt-10 mb-[15px] h-[45px] rounded-md"
                    style="background-color: var(--default-color);">
                    SIGN IN
                </button>
                <a  href=""
                    routerLink="/register"
                    class="w-full text-[rgb(51, 51, 51)] text-center hover:no-underline hover:text-[#129cb8] text-sm underline underline-offset-[3px] inline-block"
                    style="line-height: 25.2px;">
    
                    No account yet? Create an account
    
                </a>
            </form>
        }@else {
            <h2 class="text-[20px] md:text-[22px] font-medium w-full text-center my-[18.26px]" style="line-height:28.6px">
                Reset your password
            </h2>
            <h3 class="text-sm my-[15px] font-[400] text-center text-[#777777]">We will send you an email to reset your password</h3>
            <form [formGroup]="myForm" class="relative" (ngSubmit)="onSubmit()">
                <div class="input-group mt-5">
                    <input id="formInput" type="email"
                        class="w-full placeholder:text-white outline-none font-normal text-sm placeholder:text-sm p-2.5 decoration-none m-[1px] border rounded-md h-full"
                        placeholder="s">
                    <label for="formInput" class="search-label">Email</label>
                </div>
                <button
                    class="btn-bef z-[1] overflow-hidden relative flex items-center justify-center w-full text-sm font-medium text-white px-[27px] mt-10 mb-[15px] h-[45px] rounded-md"
                    style="background-color: var(--default-color);">
                    SUBMIT
                </button>
                <a
                    routerLink="/register"
                    class="cursor-pointer w-full text-[rgb(51, 51, 51)] text-center hover:no-underline hover:text-[#129cb8] text-sm underline underline-offset-[3px] inline-block"
                    style="line-height: 25.2px;"
                    (click)="forgotPass = false"
                    >
    
                    Cancel
    
                </a>
            </form>
        }
    </div>

</div>