<!-- Slides Component -->
<div class="w-full -z-20">
    <!-- Main div of slides -->
    <ul>
        <!-- Slides -->
        <li *ngFor="let slide of slides" class="slider-img-1 w-full float-left relative top-0 left-0 opacity-100">
            <!-- Slider Image -->
            <img [src]="slide.img" alt="" [srcset]="slide.imgsrcset" height="650" loading="lazy" sizes="100vw">
            <!-- Slider Text -->
            <div class=" flex flex-col items-center justify-center">
                <p>
                    {{ slide.discount }}
                </p>
            </div>
        </li>
    </ul>
</div>