
<!-- Slides Component -->
<div class="w-full -z-20">
    <ul>
        <li class="slider-img-1 w-full float-left relative top-0 left-0 opacity-100">
            <img src="//electshop-codezeel.myshopify.com/cdn/shop/files/main-banner-1_1903x.jpg?v=1656304950;" draggable="false">
            <div class="slider-text">

            </div>
        </li>
        <li class="slider-img-2 cursor-pointer w-full float-left relative top-0 left-0 opacity-100 ">
            <img src="//electshop-codezeel.myshopify.com/cdn/shop/files/main-banner-2_1903x.jpg?v=1656304950;" draggable="false">
            <div class="slider-text">

            </div>
        </li>
    </ul>
</div>